; Path to images directory
PATH_IMAGES="images/"

; Enable searching by MD5
MD5_SEARCH=true

; Enable searching with reverse search (iqdb.harry.lu)
REVERSE_SEARCH=true

; Output HTML
OUTPUT_HTML=true

; HTML file to output to
OUTPUT_HTML_FILE="images/found/links.html"

; Use php-wfio extension
USE_PHPWFIO=true

; Log all console output to a file
LOGGING=true

; Path where logs will be stored
PATH_LOGS="logs/"

; Debug mode
DEBUG=false
