; Set debug mode on or off
DEBUG=false

; Path to images directory (should be an absolute path)
PATH_IMAGES="images/"

; Log console output to a file or not
LOGGING=false

; Path to logs directory
PATH_LOGS="logs/"

; Output links to HTML file or not
OUTPUT_HTML=true

; Output to HTML destination file (should be an absolute path)
OUTPUT_HTML_FILE="images/found/links.html"

; MD5 search is enabled or not
MD5_SEARCH=true

; Reverse search is enabled or not (iqdb.harry.lu)
REVERSE_SEARCH=true

; Use php-wfio extension or not
USE_PHPWFIO=true

; Convert image into JPG with '90' quality before uploading
USE_CONVERSION=true
